# Entorno virtual de Python
venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de configuración de IDEs
.vscode/
.idea/

# Modelo YOLO
yolov11x.pt
api-vision-yolo/models/yolov11x.pt

# Imágenes en la carpeta raíz
/*.jpg
/*.jpeg
/*.png
/*.gif
/*.bmp
/*.webp
/*.svg
